
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>

<!-- <mat-toolbar>
  <mat-toolbar-row>
    <a target="_blank" href="https://material.angular.io/">Angular Material</a>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <a target="_blank" href="https://www.npmjs.com/package/@angular/flex-layout">Flex-Layout</a>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <a target="_blank" href="https://www.letsboot.com/">Letsboot.com</a>
  </mat-toolbar-row>
</mat-toolbar> -->
<div fxLayout="column">
  <div class="container" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutWrap fxLayoutGap="50px" fxLayoutAlign="space-evenly">
    <app-user-information fxFlex="20%"></app-user-information>
    <app-car-information fxFlex="20%"></app-car-information>
    <app-schedule fxFlex="20%"></app-schedule>
  </div>
  <span class="container" fxLayout="row" fxLayoutGap="50px" fxLayoutAlign="center">
    <button mat-flat-button color="primary" disabled="!reservationValid">Submit</button>
  </span>
</div>