<form [formGroup]="vehicleProfile">
    <div fxFlex fxLayout="column">
        <label>
            Year:
            <input type="number" formControlName="year">
        </label>
        <label>
            Make:
            <input type="text" formControlName="make">
        </label>
        <label>
            Model:
            <input type="email" formControlName="model">
        </label>
        <label>
            Color:
            <input type="text" formControlName="color">
        </label>
      </div>
</form>