<mat-card>
    <mat-card-title>Customer Information</mat-card-title>
    <mat-card-content>
        <mat-divider [inset]="true"></mat-divider>
        <form [formGroup]="customerProfile">
            <div fxFlex fxLayout="column">
                <mat-form-field>
                    <mat-label>First Name:</mat-label>
                    <input matInput type="text" formControlName="firstName">
                    <mat-error *ngIf="custProfileControl.firstName.invalid && (custProfileControl.firstName.dirty || custProfileControl.firstName.touched)" class="alert alert-danger">
                        <span *ngIf="custProfileControl.firstName.errors.required">
                            First name is required.
                        </span>
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Last Name:</mat-label>
                    <input matInput type="text" formControlName="lastName">
                    <mat-error *ngIf="custProfileControl.lastName.invalid && (custProfileControl.lastName.dirty || custProfileControl.lastName.touched)" class="alert alert-danger">
                        <span *ngIf="custProfileControl.lastName.errors.required">
                            Last name is required.
                        </span>
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Email:</mat-label>
                    <input matInput type="text" formControlName="email">
                    <mat-error *ngIf="custProfileControl.email.invalid && (custProfileControl.email.dirty || custProfileControl.email.touched)" class="alert alert-danger">
                        <span *ngIf="custProfileControl.email.errors.required">
                            Email name is required.
                        </span>
                        <span *ngIf="custProfileControl.email.errors.minLength">
                            Minimu email length is {{ minEmailLength }}
                        </span>
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Phone:</mat-label>
                    <input matInput type="tel" formControlName="phone">
                    <mat-error *ngIf="custProfileControl.phone.invalid && (custProfileControl.phone.dirty || custProfileControl.phone.touched)" class="alert alert-danger">
                        <span *ngIf="custProfileControl.phone.errors.required">
                            Phone number is required.
                        </span>
                        <span *ngIf="custProfileControl.phone.errors.minlength">
                            Minimum phone length is {{ minPhoneLength }}
                        </span>
                    </mat-error>
                </mat-form-field>
              </div>
        </form>
    </mat-card-content>
</mat-card>