<mat-card>
    <mat-card-title>Customer Information</mat-card-title>
    <mat-card-content>
        <mat-divider [inset]="true"></mat-divider>
        <form [formGroup]="customerProfile">
            <div fxFlex fxLayout="column">
                <label>
                    First Name:
                    <input type="text" formControlName="firstName">
                </label>
                <label>
                    Last Name:
                    <input type="text" formControlName="lastName">
                </label>
                <label>
                    Email:
                    <input type="email" formControlName="email">
                </label>
                <label>
                    Phone:
                    <input type="tel" formControlName="phone">
                </label>
              </div>
        </form>
    </mat-card-content>
</mat-card>