<form [formGroup]="userProfile">
    <div fxFlex fxLayout="column">
        <!-- <span *ngFor="let control of userControls">
            <label>
                {{control}}
                <input type="text" formControlName="{{control}}">
            </label>
        </span> -->
        <label>
            First Name:
            <input type="text" formControlName="firstName">
        </label>
        <label>
            Last Name:
            <input type="text" formControlName="lastName">
        </label>
        <label>
            Email:
            <input type="email" formControlName="email">
        </label>
        <label>
            Phone:
            <input type="tel" formControlName="phone">
        </label>
      </div>
</form>